*
!*/
/CMakeFiles
/bin
tst/googletest/
!*.cpp
!*.cu
!*.h
!*.sh
!*.cfg
!CMakeLists.txt
!README.txt
!License.txt
!Doxyfile.in
!.gitignore
!resources/disc_TN.cfg

# Simulation run outputs
runs/
resources/disc_TN_*.cfg
